{% extends 'base.html.twig' %}

{% block title %}Modification de mot de passe
{% endblock %}

{% block content %}
	<h1 class="my-3">Modification du mot de passe</h1>

	{% for message in app.flashes() %}
		<div>
			{{ message }}
		</div>
	{% endfor %}

	{{form_start(form)}}
	{{form_row(form.email)}}
	{{form_row(form.currentPassword)}}
	{{form_row(form.newPassword)}}
	{{form_row(form.newConfirmPassword)}}
	{{form_end(form)}}

	<a href="{{path('account')}}">Retour au compte</a>
{% endblock %}
