{% extends 'base.html.twig' %}

{% block title %}Nom du produit - Boutique
{% endblock %}

{% block content %}

	<h1 class="mt-3">{{product.name}}</h1>

	<div class="row">
		<div class="col-md-5">
			<img src="/uploads/{{product.illustration}}" alt="{{product.name}}" class="img-fluid">
			<br>

			<h4 class="mt-3">Commentaires des utilisateurs
				<span class="badge bg-secondary rounded-pill">{{product.comments | length}}</span>
			</h4>

			{% if product.comments | length > 0 %}

				<div class="alert alert-info mt-3">
					Moyenne des utilisateurs:
					{% include "partials/rating.html.twig" with {"rating": product.getAvgRatings()} %}
					({{product.comments | length}}
					avis)
				</div>

				{% for comment in product.comments %}
					<div class="alert alert-success mt-2">
						<strong>{{comment.user.firstName}} ({{comment.createdAt | date('d/m/Y')}})</strong><br>
						{{comment.comment}}
						<br>

						{% include "partials/rating.html.twig" with {"rating": comment.rating} %}
					</div>
				{% endfor %}

			{% else %}
				<div class="alert alert-info">Il n'y a aucun commentaire.</div>
			{% endif %}
		</div>

		<div class="col-md-7">
			<h3>{{product.name}}</h3>
			<p>{{product.description | striptags('<br>') | raw}}</p>
			<b>{{(product.price / 100) | number_format(2)}}
				€</b>
			<hr>
			<a href="{{path('add_to_cart', {'id': product.id})}}" class="btn btn-primary">Ajouter au panier</a>
		</div>
	</div>

{% endblock %}
